* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #555555;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
.background_nav {
  background-image: url(./../image/shop.jpg);
  background-size: cover;
}

.nav_item {
  padding: 60px 0;
  text-align: center;
}
.nav_item h2 {
  padding-bottom: 10px;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}
.nav_item .nav_link a {
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  transition: all 0.3s;
}
.nav_item .nav_link a:hover {
  color: #87b106;
}
.nav_item .nav_link p {
  color: #fff;
}

main .item_content {
  padding-top: 100px;
}
main .item_content .item_img .img_content_leader img {
  width: 100%;
}
main .item_content .item_text {
  width: 80%;
}
main .item_content .item_text h3 {
  text-transform: uppercase;
  font-size: 24px;
  color: #222222;
  font-weight: bold;
}
main .item_content .item_text p .pro_review {
  padding-left: 10px;
  font-size: 14px;
}
main .item_content .item_text .price_new {
  font-size: 24px;
  color: #d26b31;
  font-weight: bold;
}
main .item_content .item_text h5 {
  font-size: 18px;
  color: #222222;
  font-weight: 400;
}
main .item_content .item_text .item_countdown {
  text-transform: uppercase;
  background-color: #eaeaea;
  width: 60px;
  padding: 5px 0;
  border-radius: 10px;
  margin: 20px 0 30px;
  margin-right: 10px;
}
main .item_content .item_text .item_countdown span {
  font-size: 16px;
  color: #222222;
  font-weight: 400;
}
main .item_content .item_text .item_countdown span:last-child {
  display: block;
  font-size: 11px;
  color: #222222;
  font-weight: 400;
}
main .item_content .item_text .availability {
  margin-bottom: 15px;
}
main .item_content .item_text .availability i {
  font-size: 13px;
  color: #87b106;
  font-weight: 400;
}
main .item_content .item_text .availability span {
  text-transform: uppercase;
  font-size: 13px;
  color: #555555;
  font-weight: 400;
}
main .item_content .item_text .pro-desc {
  margin-bottom: 20px;
}
main .item_content .item_text .cart_button {
  margin-bottom: 20px;
  padding: 5px 25px;
  border-radius: 50px;
  background-color: #87b106;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  transition: all 0.5s;
}
main .item_content .item_text .cart_button:hover {
  background-color: #000;
}
main .item_content .item_text .useful-links {
  margin-bottom: 20px;
}
main .item_content .item_text .useful-links a {
  text-decoration: none;
  text-transform: capitalize;
  margin-right: 20px;
  font-size: 14px;
  color: #222222;
  font-weight: 500;
  transition: all 0.5s;
}
main .item_content .item_text .useful-links a:hover {
  font-size: 14px;
  color: #87b106;
  font-weight: 500;
}
main .item_content .item_text .like-icon {
  padding-top: 20px;
  border-top: 1px solid #f2f2f2;
}
main .item_content .item_text .like-icon a {
  margin-right: 6px;
  padding: 3px 8px;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 5px;
  font-size: 12px;
  color: #fff;
  font-weight: 400;
}
main .item_content .item_text .like-icon .facebook {
  background-color: #3b5999;
}
main .item_content .item_text .like-icon .twitter {
  background-color: #1da1f2;
}
main .item_content .item_text .like-icon .pinterest {
  background-color: #cb2028;
}
main .item_content .item_text .like-icon .google {
  background-color: #fe6d4c;
}/*# sourceMappingURL=detail.css.map */