@import './base/reset';
@import './base/base';
@import './helper/variable';
@import './helper/mixin';
@import './layout/banner_nav';
@import './layout/header';
@import './layout/footer';
@import './layout/product';
@import './components/responsive';
.register {
  .register_form {
    margin: 0 auto;
    width: 90%;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .register_content {
      h4 {
        @include styleText(20, $color-200, bold);
      }
      form {
        .input_content {
          input {
            padding: 12px 10px;
            background: #f7f7f7;
            border: 1px solid #ccc;
            @include styleText(14, $color-400, 400);
          }
        }
      }
      .cart_button {
        margin: 20px 0;
        padding: 5px 25px;
        background-color: $color-100;
        @include styleText(18px, $color-300, bold);
        transition: all 0.5s;
        &:hover {
          background-color: $color-900;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px),
  only screen and (max-width: 767.98px) {
  .header_call {
    display: none !important;
  }
  .search-wrapper {
    width: 80% !important;
  }
  .blog_item {
    display: block !important;

    .blog_thumb {
      width: 100% !important;
    }

    .blog_content {
      width: 100% !important;
      margin-top: 30px;
      padding-left: 0;
    }
  }
  .newsletter_area {
    form {
      display: block !important;
      input {
        margin-bottom: 20px;
      }
    }
  }
}

