@import './base/base';
@import './base/reset';
@import './helper/variable';
@import './layout/product';
@import './layout/header';
@import './layout/footer';
@import './components/backtotop';
@import './components/responsive';
body {
  font-family: 'Nunito Sans', sans-serif;
  color: $bg-color-300;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 400;
}



.carousel {
  .owl-carousel {
    .item_1 {
      background-image: url(../image/home2-slide1.jpg);
      background-size: cover;
      background-position: center;
      height: 530px;
      color: white;

      .carousel_content {
        h2 {
          padding-top: 140px;
          font-size: 60px;
          font-weight: 500;
          line-height: 1;
          font-family: 'Poppins', sans-serif;
          margin: 0;
        }

        h4 {
          font-size: 20px;
          font-weight: 400;
          padding-top: 30px;
          line-height: 1.1;
          font-family: 'Poppins', sans-serif;
        }

        button {
          margin-top: 40px;
          font-size: 20px;
          font-weight: 700;
          line-height: 1;
          color: #fff;
          padding: 15px 30px;
          background-color: #222222;
          border-radius: 50px;
        }
      }
    }

    .item_2 {
      background-image: url(../image/home2-slide2.jpg);
      background-size: cover;
      background-position: center;
      height: 530px;
      color: white;

      .carousel_content {
        h2 {
          padding-top: 140px;
          font-size: 60px;
          font-weight: 500;
          line-height: 1;
          font-family: 'Poppins', sans-serif;
          margin: 0;
        }

        h4 {
          font-size: 20px;
          font-weight: 400;
          padding-top: 30px;
          line-height: 1.1;
          font-family: 'Poppins', sans-serif;
        }

        button {
          margin-top: 40px;
          font-size: 20px;
          font-weight: 700;
          line-height: 1;
          color: #fff;
          padding: 15px 30px;
          background-color: #222222;
          border-radius: 50px;
        }
      }
    }
  }
}

.service_policy {
  .policy_block {
    padding: 75px 15px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    transition: all 0.5s;

    .policy_icon {
      color: #fff;
      font-size: 40px;
      width: 80px;
      height: 80px;
      line-height: 80px;
      background-color: $color-100;
      margin: 0 auto;
      border-radius: 50%;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: -5px;
        left: -5px;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        border: 2px dashed #87b106;
        border-radius: 50%;
        transition: all 0.4s;
        opacity: 0;
        visibility: hidden;
      }
    }

    &:hover .policy_icon::after {
      opacity: 1;
      visibility: visible;
      animation: spin 10s infinite linear;
    }

    .policy_text {
      margin-top: 42px;

      h4 {
        font-weight: 400;
        margin-bottom: 20px;
        font-size: 20px;
      }

      p {
        font-size: 16px;
        line-height: 1.2;
        color: #777777;
      }
    }

    &:hover {
      box-shadow: 0 5px 20px 0 rgba(195, 195, 195, 0.6);
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(-360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.banner {
  .banner_statistics {
    margin-top: 30px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.4);
      transform: scale(0);
      transform-origin: top left;
      opacity: 0;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.4);
      transform: scale(0);
      opacity: 0;
      transform-origin: bottom right;
    }

    &:hover::before,
    &:hover::after {
      transform: scale(1);
      opacity: 1;
      transition-duration: 1.3s;
    }
  }
}

.section_title {
  max-width: 65%;
  margin: -5px auto 37px;

  h3 {
    font-weight: 900;
    font-size: 24px;
  }

  h4 {
    font-weight: 400;
    padding-top: 14px;
    line-height: 1.6;
    color: #777777;
    font-size: 20px;
  }
}

.product_gallery {
  padding: 80px 0;

  .nav-tabs {
    border: 0;

    .nav-item {
      .nav-link {
        border: 0;
        font-size: 16px;
        font-weight: 900;
        line-height: 1.2;
        text-decoration: none;
        position: relative;
        color: #222222;
        transition: all 0.5s;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #87b106;
          opacity: 0;
          transition: all 0.5s;
        }

        &:hover {
          color: #87b106;
        }

        &:hover::after {
          opacity: 1;
        }
      }

      .nav-link.active {
        color: #87b106;

        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.testimonial-area {
  padding: 80px 0;
  background-image: url(../image/bg-testimonial-03.webp);

  .testimonial-item {
    max-width: 80%;
    margin: -7px auto -2px;
    text-align: center;

    p {
      color: #222222;
      font-size: 30px;
      font-weight: 900;
      line-height: 1.3;
    }

    .testimonial-author {
      width: 80px;
      height: 80px;
      margin: 62px auto 0;
    }

    h6 {
      color: #87b106;
      font-size: 14px;
      font-weight: 900;
      margin-top: 33px;
    }
  }
}

.brand_logo_area {
  position: relative;
  z-index: 999;
  margin-top: -42px;

  .brand_item {
    background-color: #fff;
    padding: 20px 0;
  }
}




.cd-top--is-visible {
  // back-to-top button visible
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  // reduce button opacity if user keeps scrolling
  opacity: 0.5;
}

.latest-blog-area {
  .blog_item {
    padding: 30px;
    transition: all 0.5s;
    background-color: #f3f3f3;
    display: flex;

    .blog_thumb {
      width: 170px;
      img {
        display: block;
      }
    }

    .blog_content {
      padding: 0 20px;
      width: calc(100% - 170px);
      .blog_title {
        font-weight: 900;
        line-height: 1.2;
        text-transform: uppercase;

        a {
          color: #222;
          display: block;
        }
      }

      .blog_meta {
        padding: 10px 0;

        span {
          color: #87b106;
          font-size: 14px;
          margin-right: 15px;
        }
      }

      p {
        font-size: 16px;
        line-height: 1.5;
        padding-bottom: 10px;
      }

      button {
        font-size: 14px;
        color: #222;
        line-height: 1;
        border: 0;
        background-color: #fff;
        padding: 10px 20px;
        transition: all 0.5s;
      }
    }

    &:hover {
      background-color: #fff;
      box-shadow: 0 5px 20px #c3c3c399;
    }

    &:hover button {
      color: #fff;
      background-color: #87b106;
    }
  }
}




