footer {
  background-color: #1a1a1a;
  margin-top: 80px;

  .newsletter_area {
    padding-top: 48px;
    padding-bottom: 55px;
    border-bottom: 1px solid #2f2f2f;

    h3 {
      font-weight: 800;
      line-height: 1;
      padding-bottom: 24px;
      color: #fff;
    }

    form {
      max-width: 600px;
      margin: 0 auto;
      display: flex;
      align-items: center;

      input {
        height: 50px;
        color: #959595;
        width: 100%;
        padding: 0 20px;
        border-radius: 50px;
        outline: none;
        margin-right: 20px;
        border: 2px solid #3c3c3c;
        background-color: #262626;
      }

      button {
        color: #fff;
        font-size: 20px;
        height: 50px;
        font-weight: 700;
        border-radius: 50px;
        background-color: #87b106;
        padding: 0 35px;
        border: none;
        transition: all 0.5s;

        &:hover {
          background-color: #333333;
        }
      }
    }

    h6 {
      color: #999999;
      padding-top: 16px;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.2;
    }
  }

  .footer-widget-area {
    padding-top: 78px;
    padding-bottom: 70px;
    border-bottom: 1px solid #2f2f2f;

    h6 {
      a {
        text-decoration: none;
        color: #fff;
        line-height: 1;
        margin-bottom: 10px;
        font-size: 16px;
      }
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        a {
          text-decoration: none;
          color: #999999;
          font-size: 16px;
          padding: 5px 0;
          display: block;
          transition: all 0.4s;

          &:hover {
            padding-left: 10px;
            color: #87b106;
          }
        }
      }
    }
  }

  .footer-middle-area {
    .footer_logo {
      img {
        padding-right: 20px;
        border-right: 2px solid #fff;
      }
    }

    .footer_address {
      padding-left: 20px;

      i {
        color: #87b106;
        font-size: 24px;
        line-height: 1;
        padding-right: 15px;
        display: block;
      }

      p {
        color: #999;
        line-height: 1.4;
        margin: 0;

        span {
          font-weight: 900;
          display: block;
        }

        a {
          text-decoration: none;
          color: #999;
          transition: all 0.4s;

          &:hover {
            color: #87b106;
          }
        }
      }
    }
  }

  .footer-bottom-area {
    .footer_link {
      a {
        color: #888888;
        line-height: 1;
        font-size: 14px;
        padding-right: 14px;
        margin-right: 10px;
        position: relative;
        text-decoration: none;

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          width: 1px;
          height: 12px;
          background-color: #888888;
          transform: translateY(-50%);
        }
      }

      a:last-of-type {
        &::after {
          content: '';
          width: 0;
          height: 0;
        }
      }
    }

    p {
      b {
        color: #fff;
        font-weight: 700;
      }

      a {
        text-decoration: none;
      }
    }
  }
}
