$bg-color-100: #1a1a1a;
$bg-color-200: #282828;
$bg-color-300: #555555;
$bg-color-400: #262626;
$fs-140: 14px;
$fs-170: 17px;
$fs-240: 24px;
$fs-200: 20px;
$fs-160: 16px;
$color-100: #87b106;
$color-200: #222222;
$color-300: #fff;
$color-400: #555555;
$color-500: #d26b31;
$color-600: #777777;
$color-700: #3c3c3c;
$color-800: #999999;
$color-900: #000;
$color-1000: #eaeaea;
